.playlistBtn,
.button,
.albumDetailsBtn {
  font-family: $font-family;
  width: 160px;
  border-radius: 3px;
  background-color: $secondary-color;
  color: #fff;
  box-shadow: 0 2px 3px 0 rgba(16, 108, 202, 0.2);
  font-weight: 700;
  letter-spacing: 0.75px;
  padding: 15px 0;
  line-height: 13px;
  text-align: center;
  border: none;
  display: block;
  text-decoration: none;
}

.playlistBtn,
.albumDetailsBtn:hover {
  background-color: #0d58a6;
  box-shadow: 0 2px 3px 0 rgba(13, 88, 166, 0.5);
}

.albumDetailsBtn {
  transform: translateX(50%);
}
