@import "./abstracts/variables";
@import "./base/paragraph";
@import "./themes/global";
@import "./base/button";
@import "./components/main-grid-view";
@import "./components/album-tile";
@import "./components/search-input";
@import "./components/details-popup";
@import "./components/alert";
@import "./components/playlist";
$fa-font-path: "~@fortawsome/fontawsome-free/webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/css//all.css";
@import "./components/login-wrapper";
@import "./components/pagination";
