$base-font-size: 16px;
$description-font-size: 14px;
$font-family: "Ubuntu";
$main-spacing: 30px;
$primary-color: #f77308;
$secondary-color: #0d58a6;
$main-text-color: #24262b;
$description-text-color: #4f4f4f;
$description-line-height: 22px;
$border-color: #e0e0e0;
$playlist-bgc-color: #f9f9f9;
$btn-font-size: 14px;
