$bgcolor: rgb(252, 228, 150);
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgcolor;
  background-image: url(../images/photo.jpg);
  color: black;
  height: 80px;
}
