.login__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 9;
  align-items: center;
  justify-content: center;

  &--show {
    display: flex;
  }
}
