.main-view {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  max-width: 70vw;
  margin: 0 auto;
}

.albums-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: $main-spacing;
  width: 100%;
  margin-top: 125px;
}
