.pagination__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 100%;
  max-width: 768px;
  background-color: #fff;
  border: 3px solid #ccc;
  margin-top: 25px;
}

.list .item {
  padding: 15px;
  border-bottom: 3px solid #ccc;
}

.list .item:last-of-type {
  border-bottom: none;
}

.list .item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.pagenumbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagenumbers button {
  width: 50px;
  height: 50px;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 5px;
  transition: all 0.4s ease-out;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  background-color: $primary-color;
  box-shadow: 0 2px 3px 0 rgba(247, 115, 8, 0.2);
}

.pagenumbers button:hover {
  background-color: $secondary-color;
}

.pagenumbers button.active {
  background-color: $secondary-color;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}
