.playlist__wrapper {
  display: block;
  width: 15vw;
  min-width: 200px;
  height: 70vh;
  max-height: 70vh;
  background-color: goldenrod;
  padding: 20px 0;
  list-style: none;
  border-radius: 15px;

  &--item {
    margin-bottom: 10px;
    padding: 0 20px;
    &--active {
      background-color: gray;
    }
    .playlist {
      text-decoration: none;
      &--active {
        background-color: red;
      }
    }
  }
}
