.playlist__wrapper {
  display: block;
  width: 15vw;
  min-width: 200px;
  height: 70vh;
  max-height: 70vh;
  background-color: rgb(148, 143, 132);
  padding: 20px 0;
  list-style: none;
  border-radius: 15px;

  &--item {
    margin-bottom: 10px;
    padding: 0 20px;
    color: white;
    &--active {
      background-color: gray;
    }
    .playlist {
      color: white;
      text-decoration: none;
      font-family: $font-family;
      font-size: 16px;
      text-decoration: none;
      &--active {
        background-color: red;
      }
    }
  }
}
