.playlist__container {
  display: block;
  min-width: 250px;
  border-radius: 3px;
  height: 90vh;
  max-height: 90vh;
  background-color: $playlist-bgc-color;
  border: 1px solid #e0e0e0;
  padding: 20px 0;
  margin-right: 53px;
  h3 {
    // Your playlist
    display: inline;
    height: 18px;
    width: 76px;
    margin-left: 21px;
    color: #24262b;
    font-family: $font-family;
    font-size: $base-font-size;
    font-weight: 700;
    line-height: 18px;
  }

  h2 {
    // SPOTIFY
    height: 24px;
    width: 81px;
    color: #24262b;
    font-family: $font-family;
    font-size: 22px;
    line-height: 25px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 32px;
  }
}

.playlist__container-header {
  background-color: $playlist-bgc-color;
}

.playlist__wrapper {
  display: block;
  width: 11vw;
  min-width: 180px;
  max-height: 70vh;
  background-color: $playlist-bgc-color;
  padding: 20px 0;
  list-style: none;

  &--item {
    margin-bottom: 10px;
    padding: 0 20px;
    color: white;
    &--active {
      font-weight: 700;
      color: #f77308;
    }
    .playlist {
      color: #212121;
      text-decoration: none;
      font-family: $font-family;
      font-size: 14px;
      line-height: 22px;
      text-decoration: none;
    }
    .playlist::after {
      content: "\25be";
      float: right; // roboczo
      transform: scale(1.2);
    }

    .playlist--collapse::after {
      content: "\25b4";
      float: right;
      transform: scale(1.2);
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .playlist__container {
    margin-right: 0;
    height: 62vh;
    width: 100%;
    max-width: 190px;
    margin-right: auto;
    margin-left: auto;
  }
}
